#Ignore everything:
*

#Git files:
!.gitignore
!LICENSE
!README.md

#Whitelist directories:
!*/

#Top-level files
!CompanionArissa.esp
!CompanionArissa_dawnguard.esp

#Interface
!Interface/arissa/*
!Interface/Translations/Arissa_*.txt

#Meshes
!Meshes/arissa/*

#Readmes
!readmes/Arissa*.txt

#Sound
!sound/voice/CompanionArissa.esp/FemaleNord/*
!sound/voice/CompanionArissa.esp/FemaleUniqueArissa/*
!sound/voice/CompanionArissa.esp/FemaleYoungEager/*
!sound/voice/CompanionArissa.esp/MaleGuard/*
!sound/voice/CompanionArissa.esp/MaleNordCommander/*
!sound/voice/CompanionArissa.esp/MaleUniqueGunnher/*

#Music
!music/arissa/*

#Scripts
!wicommenttriggerscript.pex
!wicommenttriggerscript.psc
!qf__arissa*.pex
!qf__arissa*.psc
!sf__arissa*.pex
!sf__arissa*.psc
!_Arissa*.pex
!_Arissa*.psc

#Textures
!textures/actors/character/facegendata/facetint/companionarissa.esp/*
!textures/arissa/*