#Ignore everything:
*

#Git files:
!.gitignore
!LICENSE
!README.md

#Whitelist directories:
!*/

#Top-level files
!Data/CompanionArissa.esp
!Data/CompanionArissa_dawnguard.esp

#Interface
!Data/Interface/arissa/*
!Data/Interface/Translations/Arissa_*.txt

#Meshes
!Data/Meshes/arissa/*

#Readmes
!Data/readmes/Arissa*.txt

#Sound
!Data/sound/voice/CompanionArissa.esp/*

#Music
!Data/music/arissa/*

#Scripts
!wicommenttriggerscript.pex
!wicommenttriggerscript.psc
!qf__arissa*.pex
!qf__arissa*.psc
!sf__arissa*.pex
!sf__arissa*.psc
!_Arissa*.pex
!_Arissa*.psc

#Textures
!Data/textures/actors/character/facegendata/facetint/companionarissa.esp/*
!Data/textures/arissa/*