#Ignore everything:
*

#Git files:
!.gitignore
!LICENSE
!README.md

#Whitelist directories:
!*/

#Top-level files
!CompanionArissa.esp
!CompanionArissa.esm
!CompanionArissa.pub
!CompanionArissa_AppearancePack1.esp
!CompanionArissa_AppearancePack1.bsl
!CompanionArissa_dawnguard.esp

#Interface
!Interface/arissa/*
!Interface/Translations/Arissa_*.txt

#SEQ
!SEQ/*

#Meshes
!Meshes/Actors/Character/FaceGenData/FaceGeom/CompanionArissa.esm/*
!Meshes/arissa/*
!Meshes/arissa/Pack1/*
!Meshes/arissa/basepackage/*
!Meshes/Actors_Pack1/Character/FaceGenData/FaceGeom/CompanionArissa.esm/*


#Readmes
!readmes/Arissa*.txt

#Sound
!sound/voice/CompanionArissa.esp/FemaleNord/*
!sound/voice/CompanionArissa.esp/FemaleUniqueArissa/*
!sound/voice/CompanionArissa.esp/FemaleYoungEager/*
!sound/voice/CompanionArissa.esp/MaleGuard/*
!sound/voice/CompanionArissa.esp/MaleNordCommander/*
!sound/voice/CompanionArissa.esp/MaleUniqueGunnher/*

!sound/voice/CompanionArissa.esm/FemaleNord/*
!sound/voice/CompanionArissa.esm/FemaleUniqueArissa/*
!sound/voice/CompanionArissa.esm/FemaleYoungEager/*
!sound/voice/CompanionArissa.esm/MaleGuard/*
!sound/voice/CompanionArissa.esm/MaleNordCommander/*
!sound/voice/CompanionArissa.esm/MaleUniqueGunnher/*

#Music
!music/arissa/*

#Scripts
!wicommenttriggerscript.pex
!qf__arissa*.pex
!sf__arissa*.pex
!_Arissa*.pex
!scripts/source/Arissa/*
!scripts/source/ArissaExternals/*

#Textures
!textures/actors/character/facegendata/facetint/companionarissa.esm/*
!textures/arissa/*
!textures/arissa/Pack1/*
!textures/arissa/basepackage/*
!textures/Actors_Pack1/character/facegendata/facetint/companionarissa.esm/*

#Interface
!Interface/arissa/*
!Interface/Translations/CompanionArissa*.txt